.header-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: palevioletred;
  width: auto;
}
.header-text {
  color: black;
  font-size: 16;
  font-weight: inherit;
  text-decoration: unset;
}

.about-div {
  text-align: center;
  background-color: aliceblue;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
  display: block;
  justify-content: center;
  align-items: center;
}

.carpet-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.todoForm {
    min-height: 10vh;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10pt;
  }
  
  .todoBar {
    width: 40%;
    border: none;
    background: transparent;
    background-color: aquamarine;
    padding: 10px;
    margin-top: 5pt;
    margin-left: auto;
    margin-bottom: 5pt;
    margin-right: 5pt;
    margin: 20px 150px;
    border-radius: 10px;
    color: blue;
    position: relative;
    align-items: center;
    justify-content: center;
    /* resize: both;
    min-height: auto; */
    /* max-height: fit-content;
    overflow-wrap: normal;
    white-space: initial;
    word-break: break-all; */
    /* word-wrap: break-word; */
  }

  .todoBar::placeholder{
    color: black;
  }

  .todoBar:focus, .todoButton:focus{
    outline: none;
  }
  
  .button-div {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    margin-right: auto;
  }

  .todoButton {
    background: lightcoral;
    border: none;
    position: static;
    padding: 10px 20px;
    margin-left: 170pt;
    color: white; 
    display: block;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bolder;
    color: #fff;
    border-radius: 25px;
    padding-right: 20pt;
  }
  
  .todoLists {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .todoList{
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 40%;
}

.image{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.todoListDiv{
  color: #fff;
  background-color: blueviolet;
  height: 20  0px;
  margin: 20px auto;
  border-radius: 5px;
  max-width: 400pt;
}

.title{
  font-size: 12;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  overflow-wrap: break-word;
}

.para{
  font-size: 20;
  font-weight: normal;
  text-align: center;
  overflow-wrap: break-word;
}

.modal {
  text-align: center;
  background-color:violet;
  min-height: 500px;
  width: 550px;
  margin: 60px auto;
  display: block;
  border: none;
  justify-content: center;
  align-items: center;
  
}

.textfield {
  width: 60%;
  padding: 10px;
  margin-top: 5pt;
  margin-bottom: 5pt;
  margin-right: 10pt;
  margin: 20px;
  display: block;
  color: black;
  background-color: blanchedalmond;
}

.buttonIcon-div{
  color: #fff;
  background-color: blueviolet;
  height: 20  0px;
  margin: 20px auto;
  border-radius: 5px;
  justify-content: center;
}

.sideBar-div {
  display: flex;
}

.drawer {
  width: 240px;
}

.homepage-div {
  text-align: center;
  background-color: powderblue;
  min-height: 450px;
  border-left: lightcoral;
  justify-items: center;
  width: 1000px;
  margin-left: auto;
  margin: 30px auto;
}